@import '../../styles';

app-navbar {
  display: none;
}

.login-form {
  width: 350px;
  margin-top: 30%;
  margin-right: auto;
  margin-left: auto;
  background: white;
  border-radius: 5px;
  padding: 20px;

}

#login-button{
  margin: auto !important;
  display: block !important;
}

login-form {
  height: 100%;
  width: 100%;
}
